[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jason Rogena (jasonrogena)
[access "refs/for/refs/*"]
	read = group user/Jason Rogena (jasonrogena)
	push = group user/Jason Rogena (jasonrogena)
	label-Code-Review = -2..+2 group user/Jason Rogena (jasonrogena)
	label-Verified = -1..+1 group user/Jason Rogena (jasonrogena)
	rebase = group user/Jason Rogena (jasonrogena)
	removeReviewer = group user/Jason Rogena (jasonrogena)
	submit = group user/Jason Rogena (jasonrogena)
[access "refs/heads/*"]
	read = group user/Jason Rogena (jasonrogena)
	create = group user/Jason Rogena (jasonrogena)
	push = +force group user/Jason Rogena (jasonrogena)
	pushMerge = group user/Jason Rogena (jasonrogena)
[access "refs/tags/*"]
	push = +force group user/Jason Rogena (jasonrogena)
	pushTag = group user/Jason Rogena (jasonrogena)
	pushSignedTag = group user/Jason Rogena (jasonrogena)
